/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Michroma:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add custom CSS for circular text animation */
@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 30s linear infinite; /* Adjust duration as needed */
}